<!DOCTYPE html>
<html ng-app="soaApp">
	<head>
		<title>Library Management System</title>
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
		<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>

		<script type="text/javascript" src="/javascripts/app.js"></script>
		<script type="text/javascript" src="/javascripts/factory.js"></script>
		<script type="text/javascript" src="/javascripts/controllers/homeCtrl.js"></script>
		<script type="text/javascript" src="/javascripts/controllers/bookCtrl.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>Library Management System</h1>
			<hr/>
			<ng-view></ng-view>
		</div>
	</body>
</html>