<div id="dialog" ng-controller="BookCtrl">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <img src="{{specificBook.image}}">
    </div>
    <div class="col-md-7 col-md-offset-1">
      <h4>{{specificBook.title}}</h4>
      <p>Tác giả: '+book.author+'</p>
      <p>Nhà xuất bản: '+book.publisher+'</p>
      <p>Ngày xuất bản: '+book.date+'</p>
      <p>Số trang: '+book.page+'</p>
      <p>Thể loại: '+book.category+'</p>
    </div>
  <div class="">
  <textarea class="col-md-offset-1 col-md-10" style="min-height:150px;">'+book.description+'</textarea>
 </div>